---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="O mnie"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 30 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	Na dzień dzisiejszy mam 27 lat. Około rok temu podjąłem decyzję o rezygnacji z pracy nie związanej z IT (pracowałem na w dziale sprzedaży, dużej sieci komórkowej) i zacząłem uczyć się programowania w wydaniu full-time. Swoją przygodę z programowaniem zacząłem od języka JavaScript, Reacta i Next.js. W międzczasie zrealizowałem kilka projektów, które pomogły mi zdobyć doświadczenie i skończyłem studia. Przerobiłem również wiele kursów kohortowych jak i szkoleń online. Pisanie kodu i tworzenie rozwiązań internetowych sprawia mi dużo przyjemności. W związku z tym chciałbym zacząć przekładać swoją wiedzę na wdrażanie realnych rozwiązań. </p>
	<p>Szukanie pracy w IT jest wyzwaniem, z którym zmagam się od kilku miesięcy i na ten moment nie znalazłem pracy, która spełniałaby moje oczekiwania. Doszedłem do wniosku, że dobrym pomysłem jest stworzenie strony, na której będę mógł udostępnić swoje doświadczenia i umiejętności. Liczę, że taki format będzie świadectwem mojego zaangażowania i czymś niespotykanym, dzięki czemu wyróżnię się wśród tłumu aplikujących. 
	</p>  
	<p>Moje linki:
		<ul>
			<li>Profil github: <a href="https://github.com/woolf1717" target="_blank">woolf1717</a> </li>
			<li>Profil na linkedin: <a href="https://www.linkedin.com/in/bartosz-stpiczynski-web-developer/" target="_blank">bartosz-stpiczynski-web-developer</a></li>
			<li>Stronę portfolio możesz zobaczyć na stronie: <a href="https://bartoszstpiczynski.pl/" target="_blank">bartoszstpiczynski.pl</a></li>
		</ul>
	</p>
</Layout>
