---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Cze!</h1>
			<p>
				Witam na oficjalnym blogu <a href="https://bartekszukapracy.pl/">bartekszukapracy</a> napisanym w ASTRO. Ten blog jest narzdziem, dziki kt贸remu mo偶esz mnie pozna, zobaczy w czasie rzeczywistym jak pracuj i ustali, czy jeste zainteresowany wsp贸prac. 
			</p>
			<p>
				Podczas pisania tego bloga chciabym zdoby Twoje zaufanie i pokaza swoje umiejtnoci, kt贸re mog wnie do Twojego projektu.
			</p>
			<p>Poni偶ej znajduje si lista rzeczy, kt贸re chciabym zrealizowa w styczniu 2025:</p>
			<ul>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/kurs-wordpress-woocommerce-z-certyfikatem/?couponCode=24T7MT123024">Kurs WordPress + Woocommerce + AI. 2024</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/strona-internetowa-w-dzien-kurs-wordpress/?couponCode=24T7MT123024">Strona Internetowa w 1 dzie - Kurs WordPress Elementor 2024</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/become-a-wordpress-developer-php-javascript/?couponCode=24T7MT123024">Become a WordPress Developer: Unlocking Power With Code</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/kurs-sql-od-podstaw/?couponCode=24T7MT123024">Kurs SQL od podstaw | MySQL</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/kurs-programowanie-w-php/?couponCode=24T7MT123024">Programowanie w PHP od podstaw - teoria i praktyka</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/kurs-laravel-framework/?couponCode=24T7MT123024">Laravel Framework - wielkie kompendium programisty PHP</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/symfony-framework-hands-on/?couponCode=24T7MT123024">Symfony Framework Hands-On 2024</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/become-a-wordpress-developer-php-javascript/?couponCode=24T7MT123024">PhpStorm and docker master class. Best PHP IDE for fullstack</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/securityplus/?couponCode=24T7MT123024">CompTIA Security+ (SY0-701) Complete Course & Exam</a></li>
				<li>Kurs na Udemy: <a href="https://www.udemy.com/course/docker-kubernetes-the-practical-guide/?couponCode=24T7MT123024">Docker & Kubernetes: The Practical Guide [2024 Edition]</a></li>
			</ul>
			<p>W tym czasie, zrealizuj r贸wnie偶 r贸偶ne mini projekty, kt贸re pozwol mi ugruntowa wiedz z powy偶szych kurs贸w.</p>
			<p>
				Postaram si, aby wpisy wnosiy warto merytoryczn oraz byy humorystyczne! Jeli masz do mnie jakie pytania, <a href="https://bartoszstpiczynski.pl/contact"
					>to zapraszam do kontaktu.
				</a>
			</p>
			<p>A teraz musz lecie do pracy, bo wanie wykupiem 10 kurs贸w na Udemy, o cznej dugoci 235 godzin! </p>
		
		</main>
		<Footer />
	</body>
</html>
